* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: black;
}

#gridContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#gameOptions {
  margin: auto;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  
  color: white;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gameOption {
  display: flex;
  flex-direction: row;
  height: 25px;
  min-width: 200px;
}

.gameOptionLabel {
  width: 100px;
  text-align: right;
  padding-right: 5px;
}

.gameOptionInput {
  width: 100px;
  text-align: left;
  height: 22px;
}

#startGameButton {
  width: 100%;
}

#statusPanel {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: auto;
}

#flagsAvailable {
  height: 25px;
  margin: 0;
  padding: 0;
  width: 65px;
  color: lightgray;
  text-align: left;
}

#status {
  height: 25px;
  margin: 0;
  padding: 0;
  width: 175px;
  color: lightgray;
  text-align: center;
}

#elapsedTime {
  height: 25px;
  margin: 0;
  padding: 0;
  width: 65px;
  color: lightgray;
  text-align: right;
}

#grid {
  margin: auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.gridRow {
  display: flex;
  flex-direction: row;
}

.gridCell {
  width: 25px;
  height: 25px;
  display: flex;
  text-align: center;
  margin: 0;
  border: solid 0.5px white;
  color: black;
  align-items: center;
  justify-content: center;
}

.aligner-centre {
  max-width: 50%;
}

.mineDetonated {
  background-color: orangered;
}

.flagged {
  background-color: dodgerblue;
}

.noMine {
  background-color: white;
}

.oneMine {
  background-color: #FFF5E5;
}

.twoMines {
  background-color: #FFE0B3;
}

.threeMines {
  background-color: #ffcc80;
}

.fourMines {
  background-color: #ffb84d;
}

.fiveMines {
  background-color: #ffa31a;
}

.sixMines {
  background-color: #ff9900;
}

.sevenMines {
  background-color: #e68a00;
}

.eightMines {
  background-color: #cc7a00;
}